extends layout.pug

block content
    .container.mt-4
        h1 #{title}
        h3 The file you requested could not be found on the server
        button.btn.btn-primary.mt-2
            h3.mt-1
                a.text-white(href="/todos") Back to todos!